.home{

    .hero{
        margin-top: -115px;
        height: 100vh;

        .ct-section-inner-wrap{
            padding: 0;
        }
    }
    .carousel{
        height: 100%;
        overflow: hidden;

        .ct-slide{
            img{
                width:100%;
                min-height:100% !important;
                object-fit: cover;
            }
        }
    }

    .darkscreen{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        place-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        align-items: center;

        .tagline{
            width: 70%;
            align-items: center;

            h1{
                font-size: 4vw;
                color: #ffffff;
                line-height: 1.2;
            }

            h2{
                font-size: 24px !important;
                font-weight: 600;
                color: #fff;

            }
        }
    }
}

.menu-img, .menu-img2 {
    img {
        opacity: 0;
    }
}

.navigation{
    width: 100%;
    border-bottom: 1px solid #000;
    .previous{
        
        
    }

    .next{

    }

}

.cta-portfolio{

}


@media (max-width: 1290px){
    
    .home {
        .hero{
            margin-top: -87px;
        }
    }
}

@media (max-width: 992px){

    .home{

        .hero{
    
            .ct-section-inner-wrap{
            }
        }
        .carousel{
    
            .ct-slide{
                img{
                }
            }
        }
    
        .darkscreen{
            .tagline{
                width: 90%;
                align-items: center;
    
                h1{
                    font-size: 42px;
                    line-height: 1.2;
                }
    
                h2{
                    font-size: 18px !important;
                    font-weight: 600;
    
                }
            }
        }
        .grille{
            .titre{
                    background: #000;
                h1{
                    color: #fff;
                }
            }
        }
    }
    
}
@media (max-width: 768px){
    
}
@media (max-width: 480px){

}