header{
    .header{
        max-height: 120px;
        height: initial !important;
    }
    .oxy-header-container{
        padding:0;
        max-width: 100% !important;
    }
    z-index: 999 !important;
    padding: 0 20px;

    #logo_header{
        margin: 10px 0;
        transition: ease 0.2s;
        
        .logo_header{
            fill:black;
        }
        .logo_fond{
            fill:none;
        }
        &:hover{
            transition: ease 0.2s;
            transform:scale(1.05);
        }
    }
    
    .btn-contact{
        font-family: 'Work Sans';
        background-color: transparent;
        border: 2px solid #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        margin-right: 10px;
        transition: ease 0.2s;
        font-weight: 500;
        &:hover{
            background-color: #fff;
            color: #000;
            transition: ease 0.2s;
        }
    }

    .btn-burger{
        padding: 28px 22px 20px 22px;
        border-radius: 100%;
        &:hover{
           background-color: rgba(#000, 0.1);
           cursor: pointer;
        }
        .burger{
            stroke:#000
        }
    }
}

body .oxy-sticky-header-active{
    #logo_header{
        .logo_header{
            fill: #000;
        }
        .logo_fond{
            fill: #fff;
        }
    }
    .btn-contact{
        background-color: #000;
        color: #fff !important;
        border-color: #000;
        &:hover{
            transform: scale(1.03);
        }
    }
    .btn-burger{
        background-color: #fff;

        &:hover{
            transform: scale(1.05);
            background-color: #fff;
            cursor: pointer;
        }
        .burger{
            stroke:#000 !important;
        }
    }  
}
.home,
.single-produits,
.single-services,
.single-secteurs,
.single-post,
.page-id-56{
    #logo_header{
        .logo_header{
            fill: #fff;
        }
    }

    .header{
        .btn-burger{
            .burger{
                stroke:#fff
            }                
        }
    }
}

.post-type-archive-secteurs, .post-type-archive-portfolio, .post-type-archive-produits, .post-type-archive-services{

    .header{

        .btn-contact{
            border: 1px solid #000 !important;
            color: #000;

            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
    }
}
.oxy-header-left, .oxy-header-center, .oxy-header-right {
}


.post-type-archive-produits, .post-type-archive-services, .post-type-archive-secteurs{
    header{
        border-bottom: 1px solid #000;

        &.oxy-sticky-header-active{
            border-bottom: none;
        }
    }
}

@media (max-width: 1290px){
    .oxy-sticky-header-active{ 
        background-color: #fff !important;
        border-bottom: 1px solid #000 !important;
    }

    header{ 
        max-height:90px !important;

        .oxy-header-container{
            padding: 0;
        }

        #logo_header{
            width: 70px; 
            height: 60px;  
        }

        .btn-contact{
            padding: 8px 15px !important;
            font-size: 14px !important;
        }

        .btn-burger{
            transform: scale(0.8);
            margin-left: 10px;
        }
    }
}
@media (max-width: 992px){
    
}
@media (max-width: 768px){
    
}
@media (max-width: 480px){

    .header {

        #logo_header{
            width: 60px !important;
            height: 55px !important;
        }

        .btn-contact{
            padding: 5px 10px !important;
            font-size: 12px !important;
            margin-right: 0;
        }

        .btn-burger{
            transform: scale(0.7);
            margin-top: 6px;
            padding: 0;
            &:hover{
                transform: scale(0.6);
            }
        }
    }
}