html,
body {
    height: 100%;
}

body {
    @include flexbox;
    @include flex-dir(column);
}

.myselector {
    @include push--auto;
    padding: 40px;
}

.myselector::after {
    @include pseudo;
    top: -1rem; left: -1rem;
    width: 1rem; height: 1rem;
}

h2{
    font-family: 'Work Sans' !important;
    text-transform: uppercase !important;
    font-size: 28px !important;
    letter-spacing: 1px !important;
    margin: 20px 0;
}

h3{

}

h4{

}

.ease-3{
    transition: ease 0.3s;
}

// p:empty{
// //     display: none !important;
// // }

// // p:blank{
// //     display: none !important;
// // }

// // Hide Scrollbar //

.oxy-modal-backdrop::-webkit-scrollbar {
    display: none;
}
    
.oxy-modal-backdrop {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }